ENV_NAME=Change your environment name in the .env file!
PLACEHOLDER_IMAGE=./img/placeholder.jpeg
IMAGE_OPTIM_CONFIG_PATH=./config/image_optim.yml
SECRET_KEY=foobarfoobarfoobarfoobarfoobarfo
PUBLIC_IV=foobarfoobarfoob
SECRET_TOKEN=alicebobalicebobalicebobalice
MEMOISATION_LIMIT=10000
CLIENT_CACHE_TTL=4
HOST=localhost
PORT=9292
SITE=localhost:9292
RACK_ENV=DEVELOPMENT
RETRIEVAL_TIMEOUT=5
COMPRESSION_TIMEOUT=3
MAX_THREADS=16
WEB_CONCURRENCY=5
ZOMBIES_KILLING_RATE=5
ZOMBIES_MAX_POPULATION=5
VALIDATE_ONLINE=true

# DEBUG < INFO < WARN < ERROR < FATAL < UNKNOWN
LOG_LEVEL=WARN
